{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <button class="btn btn-primary" onclick="request()">Send & write to history Request to OptAd360 TestApi</button> <label for="sel">Currency</label>
	<select name="sel" id="select" onchange="processChange()">
		<option selected value="1">PLN</option>
		<option value="2">EUR</option>
		<option value="3">USD</option>
	</select>
    
    


<table class="table table-secondary table-hover">
  <theadclass="thead-dark">
    <tr>
      <th scope="col">Currency</th>
      <th scope="col">URLs</th>
      <th scope="col">Tags</th>
      <th scope="col">Date</th>
      <th scope="col">Estimated revenue</th>
      <th scope="col">Ad impressions</th>
      <th scope="col">Ad eCPM</th>
      <th scope="col">Clicks</th>
      <th scope="col">Ad CTR</th>
    </tr>
  </thead>
  <tbody id="hed">
    {# {% for offer in auction.offers|filter(offer => offer.byUser != null) %} #}
        <tr {#% if loop.index == 1 %}class="table-warning"{% endif %#}>
            <th class="throw" scope="row">{#{ loop.index }#}</th>
            <td>{#{offer.value/100}#} PLN</td>
            <td>{#{offer.byUser.username}#}</td>
            <td>{#{offer.createdAt|date('H:m d-m-Y')}#}</td>
        </tr>
    {#% endfor %#}
  </tbody>
</table>


</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
function request()
{
	let url = "{{path ('getOptAd360') }}";

	$.ajax({
		url: url,
		method: "post", 
		data: JSON.stringify(
			{'currency':$("#select option:selected").text()})
		})
	.done(res => 
	{ 
        let json = JSON.parse(res);
		console.log();
        $("#output").html(res)

        let trc = document.createElement('tr');
        trc.innerHTML = `<td scope="row">${json.}</td><td>'+offerValue+' PLN</td><td>{{app.user}}</td><td class="d-none d-sm-table-cell">Teraz</td>`;
        document.getElementById('hed').prepend(trc);

		
	});
}
</script>
{% endblock %}
