{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<a href="{{path('first')}}"><h1>OptAd360 API</h1></a>
<a href="{{path('second')}}"><h1>IMGW API</h1></a>
<a href="{{path('thrid')}}"><h1>DetectLanguage API</h1></a>
   
{% endblock %}
